<!DOCTYPE html>
<html>
<head>
    <title>Registrar Usuario</title>
</head>
<body>

    <h1>Registrar Usuario</h1>

    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% endif %}

    <form method="POST">

        {% csrf_token %}

        <label>Documento:</label><br>
        <input type="text" name="idUsuario"><br><br>

        <label>Nombre:</label><br>
        <input type="text" name="nombre"><br><br>

        <label>Correo:</label><br>
        <input type="email" name="correo"><br><br>

        <label>Contraseña:</label><br>
        <input type="password" name="contrasena"><br><br>

        <button type="submit">
            Registrar Usuario
        </button>

    </form>

</body>
</html>